<p>
A hands-on workshop to be held on April 14-18, 2019 at Tel Aviv University, hosted by the School of Physics and Astronomy.
The workshop aims to help you get your work done in less time and with less pain by using basic software and data analysis concepts and tools, including program design, version control, data management, and task automation, and is aimed at physicists at all stages of their education and career.

The instructors for days 1-4 are <a href="https://abostroem.wixsite.com/home">Azalee Bostroem</a> from UC Davis and <a href="https://griffin-h.github.io/">Griffin Hosseinzadeh</a> from the Center for Astrophysics at Harvard.
Day 5 will be taught by our own Dalya Baron.

</p>
<p>
  <em>
    The first three days of the workshop will be based on the <a href="{{site.swc_site}}">Software Carpentry</a> curriculum. For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
